<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <clear/>
    <add name="dbeMenuconfig" connectionString="Data Source=SGSIN0733;Initial Catalog=DnDRegistration;User ID=DnDUser;Password=DnDP455w0rd;" providerName="System.Data.SqlClient.SqlConnection"/>
  </connectionStrings>
</configuration>